$bg-primary: #fff;
$bg-brand: #1e3120;
$bg-card: #faf4f4;
$bg-search-bar: #f3f4f3;

$text-black: #000;
$text-title: $bg-primary;
$text-subtitle: #77ab82;
$text-primary: $bg-brand;
$text-secondary: #978f88;
$text-tertiary: #3d6f42;

$btn-bg-primary: $text-title;
$btn-bg-secondary: $text-tertiary;
$btn-hover-primary: $text-subtitle
